html{
  box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 10px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
.form-popupEdit {
    display: none;
    position: fixed;
    /*bottom: 300;
    right: 780px;*/
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .form-popupDay {
    display: none;
    position: fixed;
    bottom: 300;
    right: 780px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
/* Add styles to the form container */
.form-container {
  max-width: 400px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}



.flip-container {
  perspective: 1000;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container:hover .td{
  transform: rotateY(180deg);
}
.flip-container, .front, .back {
  width: 120px;
  height: 50px;
  border: 1px groove #a6d1f1;
  float: left;
  margin-right: 20px;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}
.front, .back {
  backface-visibility: hidden;
  transform: rotateX(0deg);
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
}
.back {
  transform: rotateY(180deg);
}

.perevert-word {
  width: 70px;
}



.form-signin select, .form-signin input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  /*border: none;*/
  background: white;
}

.plus_avto{
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 28px;
  margin: 20px;
  transition: .2s;
}

.plus_avto:hover {
  transform: scale(1.1);
  
}

.minus_avto{
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 28px;
  margin: 20px;
  transition: .2s;
}

.minus_avto:hover {
  transform: scale(1.1);
  
}


.table_info_avto {
  max-width: 100%;
}


.accordion-button{
  padding: 0.5rem;
}

.form-marshrut{
  padding: 0;
}

.form-check-input {
  width: 1.5em;
  height: 1.5em;
}

.hidden_button {
  display: none;
}
.avto_padding_down{
  margin-bottom: 20px;

}
.marshrut_padding_down{
  margin-bottom: 20px;

}

@media (max-width: 767px) {
  .btn-padding-top{
    margin-top: 10px;
  }
  .form-check-input {
    width: 2em;
    height: 2em;
  }
  .nav-menu{
    margin-top: 20px;
  }
}


@media (max-width: 450px) {
  .plus_avto {
    margin: 5px;
  }

  .minus_avto{
    margin: 5px;
  }
  
}